@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
}

@layer components {
  .content {
    @apply font-normal text-textmute;
    @apply text-[14px] lg:text-[16px];
    @apply leading-[20px] lg:leading-[22px];
  }
  .sub-title {
    @apply font-semibold text-primaryBlack;
    @apply text-[18px] lg:text-[20px];
    @apply leading-[24px] lg:leading-[26px];
  }

  .small-title {
    @apply font-semibold text-primaryBlack;
    @apply text-[14px] lg:text-[16px];
    @apply leading-[20px] lg:leading-[22px];
  }

  .title {
    @apply font-semibold text-primaryBlack;
    @apply text-[22px] md:text-[28px] lg:text-[34px];
    @apply leading-[28px] md:leading-[26px] lg:leading-[40px];
  }
}

.camera-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000c7;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.link-active {
  color: #507623 !important;
}

.link-active::after {
  transform: scale(1) !important;
}

.bg-success {
  background-color: #f6f8f4;
}
.bg-warning {
  background-color: #fbf4f4;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
}
.loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 4px solid #507623;
  border-right: 4px solid #507623;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.slide-prev,
.slide-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffffff40;
  background-color: #00000060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-nav {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 1;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.slide-prev:hover,
.slide-next:hover {
  background-color: #507623;
  transition: all 300ms ease;
}

@media screen and (max-width: 768px) {
  .slide-prev,
  .slide-next {
    width: 30px;
    height: 30px;
  }

  .slide-prev svg,
  .slide-next svg {
    height: 10px;
  }
}

/* *****************
scrollbar design start
********************/
.content-area::-webkit-scrollbar {
  width: 4px;
}

.content-area::-webkit-scrollbar-thumb {
  border-radius: 16px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
  background-color: #e0e0e0;
}

.content-area::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eee;
}

/* *****************
scrollbar design end
********************/
